@tailwind base;
@tailwind components;
@tailwind utilities;

.range:focus {
  outline: none;
}

.range::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 16px;
  width: 16px;
}

.range::-moz-range-thumb {
  -webkit-appearance: none;
  background: transparent;
  border: none;
}
